@using Furniture_assembly_BusinessLogic.ViewModels
@model List<MessageInfoViewModel>
@{
    ViewData["Title"] = "Mail";
}
<div class="text-center">
    <h2 class="display-4">Отправить письмо</h2>
</div>
<div class="text-center">
    @{
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Отпарвитель
                    </th>
                    <th>
                        Дата письма
                    </th>
                    <th>
                        Заголовок
                    </th>
                    <th>
                        Текст
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SenderName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateDelivery)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Body)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>